body {
    background-image: url('../../images/dunmeshfood.jpg');
    background-size: 130%;
  }
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  .ham-menu {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .checklist {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: 30%;
    max-width: fit-content;
    margin-bottom: 20px;
  }
  .checklist-header {
    font-size: 24px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }

  .checklist-content {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.checklist-content li {
    width: calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #e9ecef;
}
  
  .remove-btn {
    margin-left: 10px;
    padding: 2px 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: #28a745;
  }
  .complete-btn {
    margin-left: 10px;
    padding: 2px 5px;
    background-color: #ff1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .complete-btn:hover {
    background-color: #ff1a1a;
  }
  
  .completed {
      background-color: #f67685 !important; 
      color: #300b0b; 
  }
  
