.mp-body {
    position: fixed;
    bottom: 20px;
    left: 20px;
    max-width: 400px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.mp-close {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 5px;
}

/* Add hover effect for close button */
.mp-close:hover {
    background-color: #2980b9;
}

.mp-body {
    transition: transform 0.3s ease-in-out;
}

.mp-body {
    animation: popUp 0.3s ease-out;
}

@keyframes popUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.mp-header {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}