{% extends './base.html' %}
{% load static %}

<!-- Bilge worked on this -->

{% block content %}
<html>
<body class="center">
    <div class="player" style="padding-left: 10px;padding-top:10px;background-color: #459dfb;">
        <!-- autoplay  https://www.w3schools.com/html/html5_audio.asp  -->
        <audio controls autoplay >
            <source src="../static/media/magicshopbts.mp3" type="audio/mpeg">
        </audio>
        <!-- image  https://www.w3schools.com/html/html_images.asp  -->
        <img src="../static/images/btsphoto.jpeg" alt="BTS THE BEST">
    </div>
</html>

{% endblock %}
